.jumbotron h1 {
	font-size: 70px;
	color: #00338D;
	background: #e9ecef;
	text-align: left;
}

.card-header {
	background: #00338D;
	color: #ffffff;
}

.btn {
	background: #0290DA;
	border-color: #0290DA;
}
