body {
  background-color: theme-color('primary');
  font-family: 'Quicksand', sans-serif;
  //*min-width: 640px;*//
}

.wrap {
  overflow: hidden;
}

h1 {
  background: $color-light-blue;
  color: $color-white;
  font-size: 70px;
  text-align: center;
}

h2 {
  color: $color-dark-blue;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}

h3 {
  color: $color-dark-blue;
  margin-bottom: 10px;
  margin-top: 50px;
}

.text {
  padding-left: 68px;
  padding-right: 68px;
}
