.main-menu {
	list-style: none;
	font-weight: bold;
	padding: 16px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #00338D;
	border-bottom-width: 5px;
	margin-bottom: 0px;
}

.main-menu a {
	color:#005EB8;
}

.btn-menu {
	background: #ffffff;
	border-color: #ffffff;
}
