@import '../../node_modules/bootstrap/scss/functions';

$theme-colors: (
        primary: #0290da,
        secondary: #3899db,
);


$breadcrumb-divider: quote('>');

@import '../../node_modules/bootstrap/scss/variables';

$color-white: #fff;
$color-dark-blue: #00338d;
$color-light-blue: #0290da;
$color-gray: #e9ecef;
