@import '../../node_modules/bootstrap/scss/functions';

$theme-colors: (
        primary: #0290DA,
        secondary: #3899db,
);


$breadcrumb-divider: quote('>');

@import '../../node_modules/bootstrap/scss/variables';

$color-white: #fff;
$color-dark-blue: #00338D;
$color-light-blue: #0290DA;
$color-gray: #e9ecef;
