{% for article in articles %}
<div class="text">
    <h3>
      <a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
    </h3>
    <h5>{{ article.source }}</h5>
    <p>{{ article.summary }}</p>
</div>
{% endfor %}
