<div class="row card text-right pt-5">
  <div class="card-body">
    <h5 class="card-title">Telco Oběžník</h5>
    <p class="card-text">Tato stránka je open sourced, každý element najdete na GitHubu.</p>
    <a href="https://github.com/tinazhouhui/telco_obeznik" class="btn btn-primary">GitHub</a>
  </div>
</div>
