<html>

    {% include 'header.html.j2' %}

    <body class="bg-dark">

		<div class="container bg-white">

			{% include 'obeznik_logo.html.j2' %}

            {% include 'main_menu.html.j2' %}

            {% block content %}{% endblock %}

        </div>
    </body>
</html>
